.Block{
  text-align: center;
  color: #fff;
  padding: 12px;
  display: flex;
  flex: 1;
  border-bottom: 1px solid rgba(40, 40, 40, 0.8);
  border-top: 1px solid rgba(250, 250, 250, 0.40);
}
.Block-content{
  max-width: 800px;
  margin: auto;
}
