.Project-wrapper {
  position: relative;
}

div[class^='Project-wrapper-blur'] {
  position: absolute;
  width: 50px;
  display: block;
  z-index: 1;
  top: 0;
  height: 100%;
}

.Project-wrapper-blur--first {
  left: 0;
  box-shadow: inset 50px 0px 30px -25px #3D5AFE;
}

.Project-wrapper-blur--last {
  right: 0;
  box-shadow: inset -50px 0px 30px -25px #3D5AFE;
}

.Project-container {
  white-space: nowrap;
  overflow: auto;
  position: relative;
  display: flex;
}
