.Project {
  display: inline-block;
  margin: 0 10px;
  width: 240px;
  vertical-align: top;
  flex: none;
}

.Project-filler {
  display: inline-block;
  width: calc(50% - 110px);
  visibility: hidden;
  flex: none;
}

.Project a {
  color: #fff;
}

.Project p {
  white-space: normal;
}
